{% extends "layout.html" %}

{% block main %}
    <div class="section">
        <h2>Stocks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Price/stock</th>
                        <th>Symbol</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ look.name }}</td>
                            <td>{{ look.price | usd }}</td>
                            <td>{{ look.symbol}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
{% endblock %}